<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quotations for Requests {{request_for_quotation_with_related_quotations.request.title}}</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
</head>
<body>
    <p>
        <a href="{{url_for('list_requests_for_quotations')}}">Come back to request for quotations list</a>
    </p>
   <h1>Quotations for {{request_for_quotation_with_related_quotations.request.title}}</h1>
   <p>Created at {{request_for_quotation_with_related_quotations.request.created}}</p>
    <div>
        <button id="btn-generate-csv" data-url-endpoint="{{url_for('generate_quotations_csv', request_for_quotation_id=request_for_quotation_with_related_quotations.request.id)}}" >Generate CSV</button>
    </div>
    
    <hr>
    
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Company</th>
                <th>Product</th>
                <th>Posted Min Price</th>
                <th>Posted Min Qnt</th>
            </tr>
        </thead>
        <tbody>
            {% for quotation in request_for_quotation_with_related_quotations.quotations %}
            <tr>
                <td>{{quotation.id}}</td>
                <td>
                    <a href="{{quotation.company_url}}" target="_blank">{{quotation.company_name}}</a>
                </td>
                <td>
                    <a href="{{quotation.product_url}}" target="_blank">{{quotation.product_name}}</a>
                </td>
                <td>{{quotation.public_minimum_price}}</td>
                <td>{{quotation.public_minimum_quantity}}</td>
            </tr>        
            {% endfor %}
        </tbody>
    </table>

    <script type="text/javascript" charset="utf-8">
        const socket = io();
        socket.on('reload_page', function() {
            window.location.reload();
        });

        // generates csv 
        const btnGenerateCsv = document.getElementById("btn-generate-csv");
        const endpoint = btnGenerateCsv.dataset.urlEndpoint;
        btnGenerateCsv.onclick = () => fetch(endpoint, {
            method: "POST",
            headers: {
            "Content-Type": "application/json",
            }
        }).then(resp => resp.json())
        .catch(e => alert("There was a problem with fetch petition: " + e.message))
        .then(data => alert(data.message))

    </script>
</body>
</html>