<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Quotation Requests</title>
    <style>
        body { padding: 2rem}
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
</head>
<body class="d-flex flex-column-reverse flex-lg-row gap-4">
    <main class="mt-5 flex-grow-1">
        <h2 class="text-decoration-underline mb-2">Requests for quotation list</h2>
       
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>created</th>
                    <th>Title</th>
                    <th>Reference</th>
                    <th>Quantity</th>
                    <th>Quotations</th>
                    <th>Record status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for item in requests_with_quotations_count %}
                <tr>
                    <td>{{item.id}}</td>
                    <td>{{item.created}}</td>
                    <td>
                        <a href="{{url_for('list_quotations', request_for_quotation_id=item.id)}}">
                        {{item.title}}
                        </a>
                    </td>
                    <td>
                    {% if item.ref_product_url %}
                        <a target="_blank" href="{{item.ref_product_url}}">
                        {% if item.product_image_url %}
                        <img src="{{item.product_image_url}}" alt="">
                        {% else %}
                        See ref
                        {% endif %}
                        </a>
                    {% endif %}                    
                    </td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.quotation_count}}</td>

                    {% if item.id == active_request_for_quotation_id %}  
                    <td>
                        <button class="btn btn-warning btn-toogle-selected-request-quotation">SELECTED</button>
                    </td>
                    {% else %}
                    <td>
                        <button data-id="{{item.id}}" class="btn btn-secondary btn-toogle-selected-request-quotation">SELECT</button>
                    </td>
                    {% endif %}
                    <td>
                        <button data-request-id="{{item.id}}" data-title="{{item.title}}" class="btn btn-danger delete-request-for-quotation">Delete</button>        
                    </td>       
                </tr>        
              

                {% endfor %}
            </tbody>
        </table>
    </main>

    <aside class="">
        <form class="sticky-top card shadow p-4 ms-auto" style="max-width:30rem;" method="post">
            <p class="fs-4">Create a new Request Quotation</p>
            <div class="my-2" >
                <label class="form-label" for="title">Request for Quotation Title</label>
                <input autofocus class="form-control" required id="title" type="text" name="title">
            </div>
            <div class="my-2">
                <label class="form-label" for="quantity">Request for Quotation quantity</label>
                <input class="form-control" required id="quantity" type="number" name="quantity">
            </div>
            <div class="my-2">
                <label class="form-label" for="ref_product_url">Reference product URL</label>
                <input class="form-control" required id="ref_product_url" type="text" name="ref_product_url">
            </div>
            <button class="mt-2 btn btn-primary">Save</button>
        </form>
    </aside>
    
    
    <script type="text/javascript" charset="utf-8">
        const socket = io();
        socket.on('reload_page', function() {
            window.location.reload();
        });

        const btnsToogleActiveRequest = Array.from(document.getElementsByClassName("btn-toogle-selected-request-quotation"));
        btnsToogleActiveRequest.forEach(btn => {
            btn.onclick = () => updateCurrentRequestQuotation(btn.dataset.id)
        })

        function updateCurrentRequestQuotation(id) {
            socket.emit("update_active_request_for_quotation", {id});
        }

        function deleteRequestForQuotation(id) {
            socket.emit("delete_request_for_quotation", {id});
        }

        const ButtonCollectionActionDelete = document.getElementsByClassName("delete-request-for-quotation");
        const ButtonsActionDelete = Array.from(ButtonCollectionActionDelete);

        ButtonsActionDelete.forEach(btn => {
            btn.onclick = () => {
            if (window.confirm("Are you Sure you want to delete " + btn.dataset.title)) {
                deleteRequestForQuotation(btn.dataset.requestId)
            } 
        }
        });
        
    </script>
</body>
</html>