<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Cotation Requests</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
</head>
<body>
    <form method="post">
        <p>Create a new Request Cotation</p>
        <div>
            <label for="title">Request Cotation Title</label>
            <input required id="title" type="text" name="title">
        </div>

        <button>Save</button>
    </form>

    <section>
        <h2>Requests Cotations</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Cotations</th>
                    <th>Selected</th>
                </tr>
            </thead>
            <tbody>
                {% for item in request_cotations %}
                <tr>
                    <td>{{item.id}}</td>
                    <td>
                        <a href="{{url_for('list_cotations', request_cotation_id=item.id)}}">
                        {{item.title}}
                        </a>
                    </td>
                    <td>{{item.cotations_count}}</td>

                    {% if item.id == selected_request_cotation_id %}  
                    <td>SELECTED</td>
                    {% else %}
                    <td>-</td>
                    {% endif %}
                </tr>        
                {% endfor %}
            </tbody>
        </table>
    </section>

    <script type="text/javascript" charset="utf-8">
        var socket = io();
        socket.on('connect', function() {
            socket.emit('my event', {data: 'I\'m connected!'});
        });
    </script>
</body>
</html>